# Ignore all scraping result files
results/*.md
!results/README.md
results/*.json
*.txt
!prompt.txt
!prompt2.txt
!requirements.txt

# Ignore Python cache and environment variables
__pycache__/
*.pyc
.env
